*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
background-color: #a0b9e7; 
display: flex;
justify-content: center;
align-items: center;
}

.attribution {
    width: 400px;
    height: 600px;
    font-size: 11px; text-align: center;
    background-color: #ffff;
    border-radius: 20px;
    margin-top: 30px;
}
    
   
.attribution a { 
    margin-top: 20px;
    color: hsl(228, 45%, 44%); 
    font-size: 15px;
}


    .attribution img{
        width: 390px;
        padding: 10px;
        margin-top: 8px;
        border-radius: 20px;
    }

    .attribution p{
        margin: 10px 20px;
        font-size: 15px;
        color: rgb(163, 157, 157);
    }

    h1{
        padding: 15px;
    }
    @media(max-width: 375px){
        .attribution{
            width: 360px;
        }
        .attribution img{
            width: 355px;
        }
    }
